doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='../default.css')
		title #{userinfo.username}'s Profile
	body
		ul.navbar

			li.logotitle

				a(href='/') PulseRoot

			li

				a(href='/gc') Global Chat

			li.dropdown

				a.dropbtn(href='javascript:void(0)') Info

				.dropdown-content
					a(href='/contact.html') Contact Me
					a(href='/privacy.html') Privacy Policy
					a(href='/tac.html') Terms & Conditions
		p.center
			if(!userinfo.avatar)
				img(src='/defaultAvatar.jpg' alt=`${userinfo.username}'s Avatar` height='200px' width=auto)
			if(userinfo.avatar)
				img(src=userinfo.avatar alt=`${userinfo.username}'s Avatar` height='200px' width=auto)
		h1(style=`color:${namecolor}`)
			| #{userinfo.display}&nbsp;
			if(userinfo.level === 'dev')
				i(class='fab fa-node-js' title='PulseRoot Developer')
			else if(userinfo.level === 'admin')
				i(class='fas fa-cogs' title='PulseRoot Administrator')
			else
				i(class='far fa-user' title='User')
		h3.center #{userinfo.username}
		if(user === userinfo.username)
			p.center
				a(href="/profile/settings")
					button(type="button") Update Profile Settings

		hr

		h3 Description
		if(!userinfo.description)
			p
				i Hello! I don't have a description yet.
		else
			p #{userinfo.description}

		h3 Integrations
		if(!discordInfo && !twitterInfo)
			p(title="No Integrations Connected") This person doesn't seem to have much of a social life.
		if(discordInfo)
			h4 Discord
			p #{discordInfo}
		if(twitterInfo)
			h4 Twitter
			p &commat;#{twitterInfo}